<li>
  <div class="league-thumb">
    <img src="http://placehold.it/175x175" alt="">
  </div>
  <strong class="search-name"><%= link_to league.name, league %> | <%= league.game.name %></strong>
  <div>Commissioner: <%= link_to league.commissioner.full_name, league.commissioner %></div>
  <div>About: <%= league.info %></div>
  <div class="search-stats">
    <a href="<%= followers_league_path(league) %>">
      <% league_followers_id = "league_followers_#{league.id}" %>
      <strong id="<%= league_followers_id %>" class="stat">
        <%= league.followers.count %>
      </strong>
      followers
    </a>
  </div>
  <%= render partial: 'leagues/follow_form',
             locals: { user: current_user, league: league } if signed_in? %>
</li>
