<!-- Current Match Table -->
<div class="panel panel-default">
  <div class="panel-heading current-matches-heading">
    Season <%= league.current_season.number %>: Round <%= league.current_round %> of <%= league.total_rounds %>
  </div>
  
  <!-- Table -->
  <div class="table-responsive current-matches">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>Player 1</th>
        <th>Score</th>
        <th>Player 2</th>
      </tr>
      <% league.current_season.matches.where(tournament_id: nil).each do |match| %>
        <% if match.round_number == league.current_round %>
          <tr>
            <td>
              <%= image_tag User.find(match.p1_id).avatar.url(:thumb) %>
              <%= link_to User.find(match.p1_id).alias, user_path(match.p1_id) %>
            </td>
            <td class="current-match-score"><%= link_to "#{match.p1_score} - #{match.p2_score}", match %></td>
            <td>
              <%= image_tag User.find(match.p2_id).avatar.url(:thumb) %>
              <%= link_to User.find(match.p2_id).alias, user_path(match.p2_id) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>