<div class="tab-pane active" id="#profile">
  
  <!-- League Profile -->
  <div class="league-info">
    <% commissioner = User.find(@league.commissioner_id) %>

    <% if current_user.id == commissioner.id %>
      <h1>
        <%= @league.name %>
        <%= link_to '', edit_league_path(@league), class: "glyphicon glyphicon-cog" %>
      </h1>
    <% else %>
      <h1><%= @league.name %></h1>
    <% end %>
    <p>Commissioner: <%= link_to commissioner.full_name, commissioner %></p>
    <p>Game: <%= Game.find(@league.game_id).name %></p>
    <p>Match Count: First-to-<%= @league.match_count %></p>
    <p>About: <%= @league.info %></p>

    <% if signed_in? %>
      <% if !@league.started %>
        <% if current_user.id == commissioner.id %>
          <% if @league.users.count % 2 == 0 %>
            <h1>Have everyone ready for the season?</h1>
            <%= render partial: 'start', locals: { league: @league } %>
          <% else %>  
            <h1>You need to have an even number of fighters in the league to begin!</h1>
          <% end %>
        <% elsif @league.password_protected %>
          <%= link_to 'Join league', join_password_league_path(@league), class: "btn btn-primary" %>
        <% else %>
          <%= render partial: 'join_form', locals: { league: @league } %>
        <% end %>   
      <% end %>
    <% end %>

    <% if @league.started %>
      <%= render partial: 'match_table', locals: { league: @league } %>

      <% if all_matches_accepted?(@league.matches.where("round_number = ?", @league.current_round)) && current_user.id == commissioner.id %>
        <% if @league.has_more_rounds_left_in_season? %>
          <%= render 'next_round' %>
        <% else %>
          <%= render 'end_season' %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>