<div class="tab-pane active">
  
  <!-- League Profile -->
  <div class="league-info">

    <% if signed_in? %>
      <% if current_user == @league.commissioner %>
        <h1>
          <%= @league.name %>
          <%= link_to '', edit_league_path(@league), class: "glyphicon glyphicon-cog" %>
        </h1>
      <% else %>
        <h1>
          <%= @league.name %> 
          <%= render partial: 'follow_form', locals: { user: current_user, league: @league } %>
        </h1>
      <% end %>
        <h3>
          <a href="<%= followers_league_path(@league) %>">
            <% league_followers_id = "league_followers_#{@league.id}" %>
            Followers:
            <strong id="<%= league_followers_id %>" class="stat">
              <%= @league.followers.count %>
            </strong>
          </a>
        </h3>
      <p>Commissioner: <%= link_to @league.commissioner.full_name, @league.commissioner %></p>
      <p>Game: <%= @league.game.name %></p>
      <p>Match Count: First-to-<%= @league.match_count %></p>
      <p>About: <%= @league.info %></p>

      <% unless @league.started %>
        <% if current_user == @league.commissioner %>
          <% if @league.users.count % 2 == 0 %>
            <h1>Have everyone ready for the season?</h1>
            <%= render partial: 'start', locals: { league: @league } %>
          <% else %>  
            <h1>You need to have an even number of fighters in the league to begin!</h1>
          <% end %>
        <% elsif @league.password_protected %>
          <%= link_to 'Join league', join_password_league_path(@league), class: "btn btn-primary" %>
        <% else %>
          <%= render partial: 'join_form', locals: { league: @league } %>
        <% end %>
      <% end %>
    <% end %>

  <% if @league.playoffs_started %>
    <p>Current Playoff Bracket</p>
    <p>Challonge URL: <%= link_to @league.tournaments.last.full_challonge_url,
                          url_for(@league.tournaments.last.full_challonge_url),
                          target: "_blank" %></p>
    <% if @league.playoffs_complete? %>
      <%= render partial: 'end_season', locals: { league: @league } %>
    <% elsif @league.awaiting_review? %>
      <%= link_to "Finalize Playoffs", end_playoffs_league_path(@league),
                  method: :patch, class: "btn btn-large btn-success" %>
    <% elsif @league.playoffs_underway? %>
      <%= link_to "Set match scores", edit_match_scores_tournament_path(@league.tournaments.last),
                                      class: "btn btn-large btn-primary" %>
    <% end %>

    <iframe src="<%= @league.tournaments.last.full_challonge_url %>/module?show_final_results=1"
            width="100%" height="500" frameborder="0" scrolling="auto"
            allowtransparency="true"></iframe>

  <% elsif @league.started %>
    <h3 style="display: inline-block; padding-right: 5px;">Current Matches</h3>
    <%= link_to 'view all', league_season_path(@league, @league.current_season) %>
    <%= render partial: 'match_table', locals: { league: @league } %>

    <% if all_matches_accepted?(
      @league.matches.where("round_number = ?", @league.current_round)) &&
                            current_user == @league.commissioner %>
      <% if @league.has_more_rounds_left_in_season? %>
        <%= link_to "Go to Round " + (@league.current_round + 1).to_s, 
                    next_round_league_path(@league), method: :patch,
                    class: "btn btn-large btn-success" %>
      <% else %>
        <%= link_to "Start Playoffs", 
                    start_playoffs_league_path(@league), method: :patch,
                    class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
  </div>

</div>