<% provide(:title, 'New League') %>

<%= simple_form_for(@league) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :game_id, :collection => [
        ["Street Fighter IV: Arcade Edition 2012", 1], 
        ["Ultimate Marvel vs. Capcom 3", 2]],
        :selected => 1 %>
        
  <%= f.input :match_count, :collection => [1, 2, 3, 4, 5, 7, 10, 15, 20],
        :selected => 5, label: "Number of Games for Win", hint: "Ex. First-to-5" %>
  <%= f.input :info, label: "League Info", as: :text, 
        hint: "i.e Where your league is located, what you represent, additional league rules, etc." %>

  <%= f.hidden_field :commissioner_id, :value => current_user.id %>
  <%= f.hidden_field :started, :value => false %>
  <%= f.hidden_field :current_season_number, :value => 0 %>
  <%= f.hidden_field :current_round, :value => 0 %>

  <%= f.button :submit, class: "btn-lg btn-primary" %>
<% end %>

<br>
<p>Note: Round-robin league set-up. Number of rounds will be calculated the number of players in the league when it is started.</p>