<%= provide(:title, @league.name) %>

<div class="banner">

  <!-- League Banner -->
  <% if @league.banner.url == "/images/original/missing.png" %>
  <% else %>
    <%= image_tag @league.banner.url(:large) %>
  <% end %>
</div>

<!-- League Navbar -->
<div id="league-tabs">
  <ul class="nav nav-tabs nav-justified">
    <li class="active">
    	<%= link_to "Profile", profile_league_path, :remote => true %>
    </li>
    <li>
    	<%= link_to "Standings", standings_league_path, :remote => true %>
    </li>
    <li>
      <%= link_to "Statistics", statistics_league_path, :remote => true %>
    </li>
    <li>
    	<%= link_to "Fighters", fighters_league_path, :remote => true %>
    </li>
  </ul>
</div>

<!-- Active tab content -->
<div id="tab-content">
</div>

<script>
$('#league-tabs a').click(function (e) {
  $('ul.nav-tabs li.active').removeClass('active')
  $(this).parent('li').addClass('active')
})
</script>