<% provide(:title, "Edit user") %>

<%= simple_form_for(@user) do |f| %>

  <h1>Update your profile</h1>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :alias %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, class: "btn-lg btn-primary" %>
<% end %>