<% provide(:title, "Edit user") %>

<%= simple_form_for@user, :html => { :multipart => true } do |f| %>

  <h1>Update your profile</h1>
  <%= f.file_field :avatar %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :alias %>
  <%= f.input :email %>
  <%= f.input :tagline, hint: "Short punchline or motto. 60 chars max." %>
  <%= f.input :bio, as: :text %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.hidden_field :fight_bucks, :value => @user.fight_bucks %>
  <%= f.button :submit, class: "btn-lg btn-primary" %>
<% end %>