<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @user.alias %> - FGL Fight History</h1>
    <% decided_matches = @user.matches.reject { |match| match.finalized_date == nil }.sort { |x,y| y.finalized_date <=> x.finalized_date } %>
    <% if decided_matches.empty? %>
      No matches fought yet.
    <% else %>

      <div class="tab-pane active">
        <!-- Panel -->
        <div class="panel panel-default">
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <tr>
                <th>Result</th>
                <th>Opponent</th>
                <th>Event</th>
                <th>Date</th>
              </tr>
              <% decided_matches.each do |match| %>
                <tr>
                  <!-- Result -->
                  <% if match.winner_id == @user.id %>
                    <td>WIN</td>
                  <% else %>
                    <td>LOSS</td>
                  <% end %>
                  </td>
                  <!-- Opponent -->
                  <% if match.p1 == @user %>
                    <td>
                      <%= image_tag match.p2.avatar.url(:post), class: "user-thumb" %>
                      <%= link_to match.p2.alias, match.p2 %>
                    </td>
                  <% else %>
                    <td>
                      <%= image_tag match.p1.avatar.url(:post), class: "user-thumb" %>
                      <%= link_to match.p1.alias, match.p1 %>
                    </td>
                  <% end %>
                  <!-- Event -->
                  <td>
                    <% if match.tournament_id == nil%>
                      <%= link_to "#{match.league.name} - Season #{match.season.number} Round #{match.round_number}", match %>
                    <% else %>
                      <%= link_to "#{match.league.name} - Season #{match.season.number} Playoffs - Round #{match.round_number}", match %>
                    <% end %>
                  </td>
                  <!-- Date -->
                  <td>
                    <%= match.match_date.in_time_zone(match.league.time_zone).strftime("%B %d %Y") %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    <% end %>  
  </div>
</div>