<% provide(:title, 'Sign up') %>

<%= simple_form_for(@user) do |f| %>
  <h1>Sign up</h1>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :alias %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit %>
<% end %>