<% provide(:title, @user.alias) %>
<div class="row">
  
  <!-- User Portrait and Current League List-->
  <div class="col-md-4">
    <%= image_tag @user.avatar.url(:medium) %>
    <%= render partial: 'shared/user_leagues_list',
               locals: { user: @user } %>
  </div>

  <!-- User Info and Achievements -->
  <div class="col-md-8">
    <h1>
      <div class="social-media-icons">
        <%= @user.alias %>
        
        <% if @user.facebook_account == nil %>
          <%= link_to image_tag("facebook.png", size: "40"), '#' %>
        <% else %>
          <%= link_to image_tag("facebook.png", size: "40"), 
                                "https://www.facebook.com/" + 
                                @user.facebook_account %>
        <% end %>

        <% if @user.twitter_account == nil %>
          <%= link_to image_tag("twitter.png", size: "40"), '#' %>
        <% else %>
        <%= link_to image_tag("twitter.png", size: "40"), 
                              "https://www.twitter.com/" + 
                              @user.twitter_account %>
        <% end %>

        <% if @user.twitch_account == nil %>
          <%= link_to image_tag("twitch.png", size: "40"), '#' %>
        <% else %>                      
        <%= link_to image_tag("twitch.png", size: "40"), 
                              "http://www.twitch.tv/" + 
                              @user.twitch_account %>
        <% end %>
      </div>
    </h1>
    <%= render partial: 'follow_form', locals: { user: @user } if signed_in? %>
    <%= render 'shared/stats' %>

    <h2>
      <% wl_record = WL_record(@user, @user.matches) %>
      W-L: <%= "#{wl_record[:wins]}-#{wl_record[:losses]}" %>
      <small><%= link_to "view fight history", fight_history_user_path(@user) %></small>
    </h2>
    
    <hr>

    <!-- User Info -->
    <p>Full name: <%= @user.first_name + " " + @user.last_name %></p>      
    <p>Tagline: <%= @user.tagline %></p>
    <p>Bio: <%= @user.bio %></p>

    <hr>

    <!-- Acheivements -->
    <div class="panel panel-default">
      <div class="panel-heading">Achievements</div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <tr>
            <th>Type</th>
            <th>Event</th>
            <th>Game</th>
            <th>Placement</th>
            <th>Year</th>
          </tr>
          
          <tr>
            <td>Regular Season</td>
            <td>FGL Invite: Season 1</td>
            <td>SSF4:AE</td>
            <td>1st</td>
            <td>2014</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</div>