<% notification_item_id = "notification_item_#{notification.id}" %>
<li id="<%= notification_item_id %>">
  <% if notification.sendable_type == 'User' %>
    <%= image_tag notification.sendable.avatar.url(:post), class: "pull-left" %>
  <% elsif notification.sendable_type == 'League' %>
    <%= image_tag notification.sendable.banner.url(:post), class: "pull-left" %>
  <% end %>

  <% if notification.targetable_type == 'Post' %>
    <%= link_to "#{notification.content}", polymorphic_path([notification.receiver, notification.targetable]) %>
  <% else %>
    <%= link_to "#{notification.content}", notification.sendable %>
  <% end %>
</li>