<% notification_item_id = "notification_item_#{notification.id}" %>
<li id="<%= notification_item_id %>">
  <%= image_tag notification.sendable.avatar.url(:post), class: "pull-left" %>
  <% if notification.sendable_type == 'User' && notification.targetable_type == 'User' %>
    <%= link_to "#{notification.sendable.alias} #{notification.action} you.", notification.sendable %>
  <% elsif notification.sendable_type == 'User' && notification.targetable_type == 'League' %>
    <%= link_to "#{notification.sendable.alias} #{notification.action} your '#{notification.targetable.name}' league.",
                notification.sendable %>
  <% else %>
    <%= link_to notification.sendable.alias + " " + notification.action +
                " your post: " + '"' + notification.targetable.content + '"',
                polymorphic_path([notification.receiver, notification.targetable]) %>
  <% end %>
</li>