<% provide(:title, 'Fight Bucks') %>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <h3>What are FGL Fight Bucks?</h3>
    <p>
     FGL Fight Bucks are the official currency of the FGL
     and it allows you to place bets on FGL matches.
     But it doesn't actually have any real value.
   </p>
   <h3>Do I need FGL Fight Bucks to use this site?</h3>
   <p>
     FGL Fight Bucks are a completely optional part of this website.
     You just miss out on all the fun. No big deal.
   </p>  
   <h3>Why should I buy FGL Fight Bucks?</h3>
   <p>
     This entire site is run and funded by myself.
     By purchasing FGL Fight Bucks, you support the FGL
     and more importantly the FGC. Every purchase helps 
     me this site keep this site running!
   </p>
   <hr>
 </div>
</div>
<div class="row text-center">
  <div class="col-lg-4 col-md-6 hero-feature">
  <img src="http://placehold.it/250x250" alt="">
  <div class="caption">
    <h3>500 Fight Bucks ($5)</h3>
    <p>
      The standard amount. It's the money that you bring to a major that
      should probably be spent on food/drink, but instead you're spending
      it on sidebets.
    </p>
    <div class="purchase-buttons">
      <p>
        <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"),
                    orders_path(order: { amount: 5,
                                         description: "500 Fight Bucks",
                                         payment_method: "paypal" }),
                                         method: :post %>
        <%= link_to "Credit Card",
                    credit_card_orders_path(order: { amount: 5,
                                                     description: "500 Fight Bucks",
                                                     payment_method: "credit_card" }),
                                                     class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 hero-feature">
  <img src="http://placehold.it/250x250" alt="">
  <div class="caption">
    <h3>2,000 Fight Bucks ($10)</h3>
    <p>
      Now we're talking. You've come prepared to throw down some
      big bucks on some hype matches. You know how to win some bets.
    </p>
    <p>
      <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"),
                  orders_path(order: { amount: 10,
                                       description: "2000 Fight Bucks",
                                       payment_method: "paypal" }),
                                       method: :post %>
      <%= link_to "Credit Card",
                  credit_card_orders_path(order: { amount: 10,
                                                   description: "2000 Fight Bucks",
                                                   payment_method: "credit_card" }),
                                                   class: "btn btn-primary" %>
     </p>
   </div>
 </div>

 <div class="col-lg-4 col-md-6 hero-feature">
   <img src="http://placehold.it/250x250" alt="">
   <div class="caption">
    <h3>10,000 Fight Bucks ($20)</h3>
    <p>
      The big spender. You came to bet on every single match and have as much
      fun as possible. You bring the HYPE everywhere you go.
    </p>
    <p>
      <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"),
                  orders_path(order: { amount: 20,
                                       description: "10000 Fight Bucks",
                                       payment_method: "paypal" }),
                                       method: :post %>
      <%= link_to "Credit Card",
                  credit_card_orders_path(order: { amount: 20,
                                                   description: "10000 Fight Bucks",
                                                   payment_method: "credit_card" }),
                                                   class: "btn btn-primary" %>
      </p>
    </div>
  </div>

</div>
<!-- /.row -->