<% if signed_in? %>
  <!-- Main -->
  <div class="row">

    <!-- User Sidebar -->
    <div class="col-md-3">
    
      <!-- User Avatar and Profile Link -->
      <section>
        <%= image_tag current_user.avatar.url(:square) %>
        <h3><%= link_to current_user.alias, current_user %></h3>
        <h6>Fight Bucks: <%= current_user.fight_bucks %></h6>
        <h6><%= link_to "Buy More", fight_bucks_path %></h6>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>

      <!-- Useful Links -->
      <section>
        <ul class="list-unstyled">
          <li><%= link_to " Home", root_path, class: "glyphicon glyphicon-home" %></li>
          <li><%= link_to " Create New League", new_league_path, class: "glyphicon glyphicon-plus" %></li>
          <li>
            <%= link_to " Pending Matches", matches_path, class: "glyphicon glyphicon-tower" %>
            <span class="badge pull-right"><%= current_user.pending_matches.count + current_user.league_disputes.count %></span>
          </li>
        </ul>
        <hr>
      </section>

      <!-- User Statistics -->
      <section>
        <ul class="list-unstyled">
          <p>My Fight Stats</p>
          <li>W-L Record: <%= WL_record(current_user, current_user.matches) %></li>
          <li>Current Streak: <%= current_user.current_streak(current_user.matches) %></li>
          <li>Longest Win Streak: <%= current_user.longest_win_streak_ever %></li>
        </ul>

        <hr>
      </section>
    </div>

    <!-- My Matches -->
    <div class="col-md-6">
      <div class="well">
        FGL Activity
        <div class="btn-group">
          <button class="btn btn-default glyphicon glyphicon-user"></button>
          <button class="btn btn-default glyphicon glyphicon-cloud"></button>
        </div>
      </div>
      <%= render 'feed' %>
    </div> 

    <!-- Right Sidebar -->
    <div class="col-md-3">

      <!-- My Leagues -->
      <h3 style="margin-top: 0px;">My Current Leagues</h3>
      <%= render partial: 'shared/user_leagues_list',
                 locals: { user: current_user } %>

      <hr> 

      <!-- My Bets -->
      <%= render 'my_bets_table' %>

      <hr>

    </div>
  </div> <!-- /Main -->

<% else %>
  <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="container">
      <h1>Join the HYPE!</h1>
      <p>Gather your friends and create your own fight league!</p>
      <%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div> <!-- /Jumbotron -->

  <div class="container">
    <!-- Marketing messaging -->
    <div class="row">
      <div class="col-lg-4 marketing-img">
        <%= placeholdit_image_tag "140" %>
        <h2 align="center">Personal Fight Leagues</h2>
        <p align="center">Choose your game. Pick the players. Make the rules. Schedule the matches. Start fighting.</p>
      </div>
      <div class="col-lg-4 marketing-img">
        <%= placeholdit_image_tag "140" %>
        <h2 align="center">Simple Match Recording</h2>
        <p align="center">Keep track of the all blow ups and nail biters. Results are saved for every match, every season. Follow in-depth player's statistics within your league and let the taunting begin.</p>
      </div>
      <div class="col-lg-4 marketing-img">
        <%= placeholdit_image_tag "140" %>
        <h2 align="center">Fighter Profiles</h2>
        <p align="center">Compare fight history throughout all leagues with friends and foe alike and show the world who's best!</p>
      </div>
    </div> <!-- /Marketing messaging -->
  </div> <!-- /container -->
<% end %>