<% if signed_in? %>
  <!-- Main -->
  <div class="container">
    <div class="row">

      <!-- User Sidebar -->
      <div class="col-md-3">
      
        <!-- User Avatar and Profile Link -->
        <section>
          <hr>
          <%= gravatar_for(current_user) %>
          <h3><%= link_to current_user.alias, current_user %><h3>
          <h6><%= link_to "[Edit my profile]", edit_user_path(current_user) %></h6>
          <h6>Fight Bucks: <%= current_user.fight_bucks %></h6>
        </section>

        <!-- Useful Links -->
        <section>
          <ul class="list-unstyled">
            <li><%= link_to " Home", root_path, class: "glyphicon glyphicon-home" %></li>
            <li><%= link_to " Messages", '#', class: "glyphicon glyphicon-envelope" %></li>
            <li><%= link_to " Find a League", leagues_path, class: "glyphicon glyphicon-search" %></li>
            <li><%= link_to " Create New league", new_league_path, class: "glyphicon glyphicon-plus" %></li>
            <li>
              <%= link_to " Pending Matches", matches_path, class: "glyphicon glyphicon-tower" %>
              <span class="badge pull-right"><%= pending_matches(current_user.matches, current_user).count%></span>
            </li>
          </ul>
          <hr>
        </section>

        <!-- User Statistics -->
        <section>
          <ul class="list-unstyled">
            <%= link_to "My Fight Stats", '#' %>
            <li>W-L Record: 0-0</li>
            <li>Current Streak: 5W</li>
            <li>Longest Win Streak: 7W</li>
          </ul>

          <hr>
        </section>
      </div>

      <!-- My Matches -->
      <div class="col-md-6">
        <%= render 'my_current_matches' %>
      </div> 

      <!-- Right Sidebar -->
      <div class="col-md-3">
        
        <hr>

        <!-- My Leagues -->
        <ul class="list-unstyled"><%= link_to " My Leagues", '#' %>
          <% if !current_user.leagues.empty? %>
            
            <% current_user.leagues.each do |league| %>
              <% if current_user.id == league.commissioner_id %>
                <li><%=link_to league.name, league, class: "glyphicon glyphicon-euro" %></li>
              <% else %>
                <li><%=link_to league.name, league %></li>
              <% end %>
            <% end %>

          <% else %>
            <li>No leagues yet.</li>
          <% end %>
        </ul>

        <hr> 

        <!-- My Bets -->
        <%= render 'my_bets_table' %>

        <hr> 

      </div>

    </div> <!-- /Container -->
  </div> <!-- /Main -->

<% else %>
  <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="container">
      <h1>Join the HYPE!</h1>
      <p>Gather your friends and create your own fight league!</p>
      <%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div> <!-- /Jumbotron -->

  <div class="container">
    <!-- Marketing messaging -->
    <div class="row">
      <div class="col-lg-4 marketing-img">
        <%= placeholdit_image_tag "140" %>
        <h2 align="center">Personal Fight Leagues</h2>
        <p align="center">Choose your game. Pick the players. Make the rules. Schedule the matches. Start fighting.</p>
      </div>
      <div class="col-lg-4 marketing-img">
        <%= placeholdit_image_tag "140" %>
        <h2 align="center">Simple Match Recording</h2>
        <p align="center">Keep track of the all blow ups and nail biters. Results are saved for every match, every season. Follow in-depth player's statistics within your league and let the taunting begin.</p>
      </div>
      <div class="col-lg-4 marketing-img">
        <%= placeholdit_image_tag "140" %>
        <h2 align="center">Fighter Profiles</h2>
        <p align="center">Compare fight history throughout all leagues with friends and foe alike and show the world who's best!</p>
      </div>
    </div> <!-- /Marketing messaging -->

    <hr>

    <footer>
      <p>&copy; FGL 2013</p>
    </footer>
  </div> <!-- /container -->
<% end %>