<% league = post.postable %>
<div class="media">
  <%= image_tag league.banner.url(:thumb) %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to league.name, league %> Round
      <%= league.current_round %> has begun!
    </h4>
    <small class="timestamp"><%= time_ago_in_words(post.created_at) %> ago.</small>
  </div>
  <div class="like-comment-section">
    <%= render partial: 'like_form', locals: { post: post }  %>
  </div>
</div>
<hr />