<% league = League.find(post.postable_id) %>
<% match = post.match %>
<div class="media">
  <%= image_tag league.banner.url(:thumb) %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to league.name, league %>
    </h4>
    <small class="timestamp"><%= time_ago_in_words(post.created_at) %> ago.</small>
    <p class="content">
      <% if match.winner_id == match.p1_id %>
        <%= match.p1.alias %> defeated <%= match.p2.alias %>
        <%= link_to match.p1_score + '-' + match.p2_score, match %>.
      <% else %>
        <%= match.p2.alias %> defeated <%= match.p2.alias %>
        <%= link_to match.p1_score + '-' + match.p2_score, match %>.
      <% end %>
    </p>
  </div>
  <div class="like-comment-section">
    <%= render partial: 'like_form', locals: { post: post }  %>
    <div id="like_count"><%= post.likes.count %> likes.</div>
  </div>
</div>
<hr />