<% user = User.find(post.postable_id) %>
<div class="media">
  <%= image_tag user.avatar.url(:thumb) %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= render partial: "home/#{post.postable_type.underscore}/#{post.action}",
             locals: { post: post, user: user } %>
    </h4>
    <small class="timestamp">
      <%= time_ago_in_words(post.created_at) %> ago.
    </small>
  </div>
  <div class="like-comment-section">
    <%= render partial: 'home/like_form', locals: { post: post }  %>
    <%= render partial: 'home/comment_form', locals: { post: post,
                                                       post_show_page: post_show_page }  %>
  </div>
</div>
<hr />