<div class="pending-match">
  <p>
    <%= image_tag match.league.banner.url(:tiny), class: "pending-match-league-img" %>
    <%= link_to match.league.name, match.league %> |
    <%= match.league.game.name %>
  </p>
  <% if match.match_date == nil %>
    <p>Date: TBD</p>
  <% else %>
    <p>Date: <%= match.match_date %></p>
  <% end %>
</div>
<%= render match %>