<div class="pending-match">
  <p>
    <%= image_tag match.league.banner.url(:tiny), class: "pending-match-league-img" %>
    <%= link_to match.league.name, match.league %> |
    <%= match.league.game.name %>
  </p>
  <% if match.match_date == nil %>
    <p>Date: TBD</p>
    <p>Time: TBD</p>
  <% else %>
    <p><%= match.match_date.in_time_zone(match.league.time_zone).strftime("Date: %B %d %Y") %></p>
    <p><%= match.match_date.in_time_zone(match.league.time_zone).strftime("Time: %I:%M %p %Z") %></p>
  <% end %>
</div>
<%= render match %>