<% provide(:title, "Edit match") %>

<%= simple_form_for(@match) do |f| %>

  <h1>Update match settings</h1>
  <%= f.input :match_date, label: "Match Date and Time" %>
  <%= f.hidden_field :p1_score, :value => @match.p1_score %>
  <%= f.hidden_field :p2_score, :value => @match.p2_score %>
  <%= f.button :submit, class: "btn-lg btn-primary" %>
<% end %>