<h1>My matches</h1>
<ul class="list-unstyled">
  <% pending_matches = pending_matches(current_user.matches, current_user) %>
  <% if !pending_matches.empty? %>
    <hr>

    <!-- Loop to list current pending matches -->
    <% pending_matches.each do |match| %>
      <li>
        <p>League: <%= link_to League.find(match.league_id).name, League.find(match.league_id) %></p>
        <% if match.match_date != nil %>
          <p>Date: <%= match.match_date %></p>
        <% end %>
        <p><%= link_to display_match_score(match), match %></p>

        <!-- Select Character -->
        <% if current_user.id == match.p1_id %>
          <% if match.p1_character == nil %>
            <p><%= link_to "Set P1 Character", p1_edit_character_match_path(match), class: "btn btn-primary" %></p>
          <% else %>
            <p><%= link_to "Character Set", p1_edit_character_match_path(match), class: "btn btn-success", :disabled => true %><p>
          <% end %>
        <% else %>
          <% if match.p2_character == nil %>
            <p><%= link_to "Set P2 Character", p2_edit_character_match_path(match), class: "btn btn-primary" %></p>
          <% else %>
            <p><%= link_to "Character Set", p2_edit_character_match_path(match), class: "btn btn-success", :disabled => true %><p>
          <% end %>
        <% end %>

        <!-- Set Date -->
        <% if match.match_date == nil %>
          <p><%= link_to "Set Date", edit_match_path(match), class: "btn btn-primary" %></p>
        <% else %>
          <p><%= link_to "Date Set", edit_match_path(match), class: "btn btn-success", :disabled => true %></p>
        <% end %>

        <!-- Set Scores -->
        <% if match.p1_score == 0 && match.p2_score == 0 %>

          <!-- Display correct accept button-->
          <% if current_user.id == match.p1_id %>
            <p><%= link_to "Set Score", p1_edit_score_match_path(match), class: "btn btn-primary" %></p>
          <% else %>
            <p><%= link_to "Set Score", p2_edit_score_match_path(match), class: "btn btn-primary" %></p>
          <% end %>
        
        <!-- Score has been changed -->
        <% else %>

          <!-- Display correct accept button-->
          <% if current_user.id == match.p1_id %>
            <% if match.p1_accepted == false %>
              <p><%= render partial: 'p1_accept', locals: { match: match } %><p>
              <p><%= render partial: 'decline_match_score', locals: { match: match } %></p>
            <% else %>
              <p><%= link_to "Score Accepted", p1_edit_score_match_path(match), class: "btn btn-success", :disabled => true %><p>
            <% end %>
          <% else %>
            <% if match.p2_accepted == false %>
              <p><%= render partial: 'p2_accept', locals: { match: match } %></p>
              <p><%= render partial: 'decline_match_score', locals: { match: match } %></p>
            <% else %>
              <p><%= link_to "Score Accepted", p2_edit_score_match_path(match), class: "btn btn-success", :disabled => true %><p>
            <% end %>
          <% end %>
        <% end %>
      </li>
      <hr>
    <% end %>

  <% else %>
    <li>No pending matches.</li>
  <% end %>
</ul>