<!-- Player Portraits -->
<div class="row player-info">

  <!-- Player 1 Portrait -->
  <div class="col-md-4 col-xs-4">
    <div class="player-vs-portrait">
      <%= image_tag @match.p1.avatar.url(:large) %>
    </div>
  </div>

  <!-- VS -->
  <div class="col-md-4 col-xs-4">
    <div class="vs-img">
      <%= image_tag "vs.png", size: "280" %>
    </div>
  </div>

  <!-- Player 2 Portrait -->
  <div class="col-md-4 col-xs-4">
    <div class="player-vs-portrait">
      <%= image_tag @match.p2.avatar.url(:large) %>
    </div>
  </div>
  
</div>

<!-- Player & Match Info -->
<div class="row">
  <% bet_info = match_bet_info(@match) %>

  <!-- Player 1 -->
  <div class="col-md-4 col-xs-4 player-info">
    <h2 class="no-margin-top"><%= link_to @match.p1.alias, @match.p1 %></h2>
    <% wl_record = WL_record(@match.p1, @match.league.current_season.matches.where(
                                                "p1_id = ? OR p2_id = ?",
                                                @match.p1.id,
                                                @match.p1.id)) %>
    <h4>W-L: <%= "#{wl_record[:wins]}-#{wl_record[:losses]}" %></h4>
    <p>League Rank: </p>
    <p>
      Character: 
      <% @match.p1_characters.each do |character| %>
        <%= Character.find(character).name %>
      <% end %>
    </p>
    <div><%= "Bet Info: #{pluralize(bet_info[:p1_bet_count], "user")} ($#{bet_info[:p1_fight_bucks]})" %></div>
  </div>

  <!-- Match Info -->
  <div class="col-md-4 col-xs-4 match-info">
    <p>League: <%= link_to @league.name, @league %></p>
    <p>Round: <%= @match.round_number %></p>
    <% if @match.match_date == nil %>
      <p>Date: TBD</p>
      <p>Time: TBD</p>
    <% else %>
      <p><%= @match.match_date.strftime("Date: %B %d %Y") %></p>
      <p><%= @match.match_date.strftime("Time: %I:%M %p %Z") %></p>
    <% end %>
    
    <div class="match-score"><%= "#{@match.p1_score} - #{@match.p2_score}" %></div>
  </div>

  <!-- Player 2 -->
  <div class="col-md-4 col-xs-4 player-info">
    <h2 class="no-margin-top"><%= link_to @match.p2.alias, @match.p2 %></h2>
    <% wl_record = WL_record(@match.p2, @match.league.current_season.matches.where(
                                                "p1_id = ? OR p2_id = ?",
                                                @match.p2.id,
                                                @match.p2.id)) %>
    <h4>W-L: <%= "#{wl_record[:wins]}-#{wl_record[:losses]}" %></h4>
    <p>League Rank: </p>
    <p>
      Character: 
      <% @match.p2_characters.each do |character| %>
        <%= Character.find(character).name %>
      <% end %>
    </p>
    <div>
      <%= "Bet Info: #{pluralize(bet_info[:p2_bet_count], "user")} ($#{bet_info[:p2_fight_bucks]})" %>
    </div>
  </div>
  
</div>

<!-- Bet Buttons & Match Score -->
<div class="row">

  <!-- Player 1 Bet -->
  <div class="col-md-4 col-xs-4 match-info">
    <% if current_user.fight_bucks > 0 && !current_user.fighting_in?(@match) && !current_user.betting_on?(@match) %>
        <%= render 'p1_bet' %>
    <% else %>
      <%= link_to "Bet!", '#', class: "btn btn-lg btn-primary", 
                                 disabled: true %>
    <% end %>
  </div>

  <!-- Bet Info -->
  <div class="col-md-4 col-xs-4 match-info">
    <div class="progress">
      <div class="progress-bar progress-bar-info" style="width:<%= bet_info[:p1_percent] %>%">
        <%= "#{bet_info[:p1_percent]}% (#{bet_info[:p1_bet_count]})" %>
      </div>
      <div class="progress-bar progress-bar-danger" style="width:<%= bet_info[:p2_percent] %>%; display: block; float: right;">
        <%= "#{bet_info[:p2_percent]}% (#{bet_info[:p2_bet_count]})" %>
      </div>
    </div>          

  </div>

  <!-- Player 2 Bet -->
  <div class="col-md-4 col-xs-4 match-info">
    <% if current_user.fight_bucks > 0 && !current_user.fighting_in?(@match) && !current_user.betting_on?(@match) %>
      <%= render 'p2_bet' %>
    <% else %>
      <%= link_to "Bet!", '#', class: "btn btn-lg btn-primary", 
                               disabled: true %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <h2>Match Footage</h2>
  <% if current_user.member_of?(@match.league) %>
    <%= form_for @match, html: { method: :patch },
                         url: add_video_match_path(@match) do |f| %>
      <div>
        <strong>YouTube URL:</strong>
        <%= text_field_tag :video_url %>
        <%= f.submit "Add Video", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  <% end %>

  <% if @match.videos.empty? %>
    <p>No matches yet.</p>
  <% else %>
    <% @match.videos.each do |video| %>
      <div class="embed-container">
        <%= embed(video) %>
        <% if current_user.member_of?(@match.league) %>
          <%= form_for @match, html: { method: :delete },
                               data: { confirm: "You sure?" }, 
                               url: delete_video_match_path(@match) do |f| %>
            <%= hidden_field_tag :video_url, video %>
            <%= f.submit "Delete", class: "btn btn-danger btn-sm" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>