<% p1 = User.find(@match.p1_id) %>
<% p2 = User.find(@match.p2_id) %>

<div class="container">

  <!-- Player Portraits -->
  <div class="row">

    <!-- Player 1 Portrait -->
    <div class="col-md-4 col-xs-4">
      <h1><%= placeholdit "500" %></h1>
    </div>

    <!-- VS -->
    <div class="col-md-4 col-xs-4">
      <%= image_tag "vs.png", size: "280" %>
    </div>

    <!-- Player 2 Portrait -->
    <div class="col-md-4 col-xs-4">
      <h1><%= placeholdit "500" %></h1>
    </div>
    
  </div>

  <!-- Player & Match Info -->
  <div class="row">

    <!-- Player 1 -->
    <div class="col-md-4 col-xs-4">
      <p><%= link_to full_name(p1), p1 %><p>
      <p>W-L: 12-0</p>
      <p>League Rank: 1</p>
      <% if @match.p1_character != nil %>
        <p>Character: <%= Character.find(@match.p1_character).name %></p>
      <% end %>
    </div>

    <!-- Match Info -->
    <div class="col-md-4 col-xs-4">
      <p><%= @league.name %> - Round <%= @match.round_number %></p>
      <% if @match.match_date == nil %>
        <p>Match Date: TBD</p>
        <p>Time: TBD</p>
      <% else %>
        <p><%= @match.match_date %></p>
      <% end %>
      <% if @match.p1_score == 0 && @match.p2_score == 0 %>
        <p>TBD</p>
      <% else %>
        <%= @match.p1_score %> : <%= @match.p2_score %></p>
      <% end %>
    </div>

    <!-- Player 2 -->
    <div class="col-md-4 col-xs-4">
      <p><%= link_to full_name(p2), p2 %><p>
      <p>W-L: 10-2</p>
      <p>League Rank: T-2</p>
      <% if @match.p2_character != nil %>
        <p>Character: <%= Character.find(@match.p2_character).name %></p>
      <% end %>
    </div>
    
  </div>

  <hr>
  
  <!-- Bet Buttons & Match Score -->
  <div class="row">
    
    <!-- Player 1 Bet -->
    <div class="col-md-4 col-xs-4">
      <% unless current_user.id == @match.p1_id || current_user.id == @match.p2_id %>
        <% unless current_user.betting_on?(@match) %>
          <%= render 'p1_bet' %>
        <% end %>
      <% end %>
    </div>

    <!-- Edit Match Score -->
    <div class="col-md-4 col-xs-4">

      <!-- If match score hasn't been changed and current user is one of the fighters -->
      <% if @match.p1_accepted == false && @match.p2_accepted == false %>
        <% if current_user.id == @match.p1_id || current_user.id == @match.p2_id %>
          <%= link_to "Edit Match Date", edit_match_path(@match), 
              class: "btn btn-primary btn-lg" %>
        <% end %>
      <% end %>
    </div>

    <!-- Player 2 Bet -->
    <div class="col-md-4 col-xs-4">
    <% unless current_user.id == @match.p1_id || current_user.id == @match.p2_id %>
      <% unless current_user.betting_on?(@match) %>
        <%= render 'p2_bet' %>
      <% end %>
    <% end %>
    </div>

  </div>
</div>