<% match = Match.find(post.postable_id) %>
<div class="media">
  <%= image_tag match.league.banner.url(:thumb) %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to match.league.name, match.league %>
    </h4>
    <small class="timestamp"><%= time_ago_in_words(post.created_at) %> ago.</small>
    <p class="content">
      The date for <%= link_to match.p1.alias + " vs. " + match.p2.alias, match %>
      has been set for <%= match.match_date %>.</p>
  </div>
</div>
<hr />