<!-- User logged in navbar -->
<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Fighting Game League", root_path, id: "logo" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Fighters", users_path %></li>
            <li><%= link_to "FGL Stats", stats_path %></li>
            <li><%= link_to "About", about_path %></li>
            <% if signed_in? %>
            <script>
            $(".notification_icon").click(function(){
              // Mark all notifications as read.
              "<% current_user.notifications.unread.update_all(read: true) %>"
              // Set unread count badge to blank.
              $(".notification_badge").html('')
            });
            </script>
              <!-- Notification list -->
              <li class="dropdown notification_icon">
                <a href="#" class="glyphicon glyphicon-exclamation-sign dropdown-toggle" data-toggle="dropdown"><span class="badge notification_badge"><% unread_count = current_user.notifications.unread.count %><% unless unread_count == 0 %><%= unread_count %><% end %></span></a>
                <ul class="dropdown-menu scrollable-menu">
                  <%= render partial: 'home/notification_feed' %>
                </ul>
              </li>
              <!-- Settings list -->
              <li class="dropdown">
                <a href="#" class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
            <% end %> 
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>